h4 {
    font-style: italic;
    color: #FFFFFF;
    margin: 10px 0;
}

.setting-name {
    color: #FFFFFF;
}

.settings-row {
    border-bottom: 1px solid #514D54;
    padding-bottom: 10px;
    align-items: center;
}