ol {
    padding: 0;
    margin: 15px 0;

    h4 {
        color: #FFFFFF;
        font-style: italic;
    }

    .info-text {
        color: #A9A8AB;
        margin: 22px 0;
        padding: 0 12px;
    }
}