.list-item {
    color: #FFFFFF;
    border-bottom: 1px solid #212429;
    padding: 7px;
    margin-top: 7px;

    .buttons-container button {
        margin-left: 5px;
    }
}

@media screen and (max-width: 991px) {
    .list-item {
        .buttons-container button {
            margin-left: 0px;
            margin-right: 5px;
        }
        .buttons-container {
            margin-top: 10px;
        }
    }
}